<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {css: 'css/main.css'}) %>
    <link rel="stylesheet" href="css/monsterinfo.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <%- include('./partials/header') %>
        </header>
        <main>
            <% JSON.stringify(monster) %>
                <div class="monster-pane">
                    <img src="<%- monster.icone %>" class="icon">
                    <div class="monster-name">
                        <h1><%- monster.nome %></h1>
                        <h2><%- monster.especie %></h2>
                        <h2><%- monster.tamanho %></h2>
                    </div>
                </div>
                <div class="general-info">
                    <img src="<%- monster.foto %>" class="foto" width="1000px">
                    <%- monster.introducao %></br>
                </div> 
        </main>
    </div>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
